<div id="main" style="height: 100%;width: 100%;border:1px solid #ccc;padding:10px;"></div>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/echarts-gl.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet'/>
<script type="text/javascript">
    var uploadedDataURL = "average_data";
    mapboxgl.accessToken = "pk.eyJ1Ijoic2FuZGVyc2FhYSIsImEiOiJjamZmZG84d28ydmNuMnlvYmd2azVpMG9sIn0.VMXdPrekGQ6kxA9Rwk76Sg";
    var myChart = echarts.init(document.getElementById('main'));
    myChart.showLoading();
    $.getJSON(uploadedDataURL, function (linedata) {

        myChart.hideLoading();

        myChart.setOption({
            // http://echarts.baidu.com/option.html#visualMap-continuous
            tooltip: {
                trigger: 'item',
                formatter: function (value) {
                    var data = value["data"];
                    var name = data["name"];
                    var price = data["value"][2]
                    return `店名：${name} <br> 平均消费金额：￥${price.toLocaleString()}`; // 范围标签显示内容。
                }
            },

            visualMap: {
                show: false,
                calculable: true,
                realtime: false,
                inRange: {
                    color:<%= raw @color_range %>
                },
                outOfRange: {
                    colorAlpha: 0
                },
                max: linedata[1]
            },
            mapbox: {
                center: [121.4693, 31.123070],
                zoom: 11.5,
                pitch: 60,
                bearing: -10,
                style: '<%= @map_style_path %>',
                boxHeight: 50,
                // altitudeScale: 3e2,
                postEffect: {
                    enable: true,
                    SSAO: {
                        enable: true,
                        radius: 2,
                        intensity: 1.5
                    }
                },
                light: {
                    main: {
                        intensity: 1,
                        shadow: true,
                        shadowQuality: 'high'
                    },
                    ambient: {
                        intensity: 0.
                    },
                    ambientCubemap: {
                        texture: '',
                        exposure: 1,
                        diffuseIntensity: 0.5
                    }
                }
            },
            series: [{
                type: 'bar3D',
                shading: 'realistic',
                coordinateSystem: 'mapbox',
                barSize: 0.2,
                bevelSize: 0.3,
                // silent: true,
                data: linedata[0],
                barSmoothness: 100,
                itemStyle: {
                    emphasis: {label: {show: false}}
                }

            }]
        });
    });

</script>