<%= content_for :handwrite_javascript do %>
  <script type="text/javascript">
      $(
          function () {
              function footerPosition() {
                  $("footer").removeClass("fixed-bottom");
                  var contentHeight = document.body.scrollHeight,
                      winHeight = window.innerHeight;
                  if (!(contentHeight > winHeight)) {
                      $("footer").addClass("fixed-bottom");
                  } else {
                      $("footer").removeClass("fixed-bottom");
                  }
              }

              footerPosition();
              $(window).resize(footerPosition);
          }
      )
  </script>

<% end %>

<footer class="container fixed-bottom" style="margin-top: 100px;">
  <p class="text-center">Copyright © <%= "#{Time.now.year}" %>
    <br>Design by: <a href="#">向晨, 鲍壹方, 邓梦莹, 郭盼盼</a>
  </p>
</footer>